version: '2'

services:
   db:
     image: ${MYSQL_IMAGE}
     volumes:
       - ${DB_DATA_PATH}:/var/lib/mysql
     ports:
      - ${MYSQL_PORT}:3306       
     restart: always
     environment:
       MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
       MYSQL_DATABASE: ${WORDPRESS_DB_NAME}
       MYSQL_USER: ${WORDPRESS_DB_USER}
       MYSQL_PASSWORD: ${WORDPRESS_DB_PASSWORD}
   wordpress:
     depends_on:
       - db
     image: ${WORDPRESS_IMAGE}
     volumes:
       - ${WEB_ROOT_PATH}:/var/www/html    
     ports:
       - ${WEBSERVER_PORT}:80
     restart: always
     environment:
       WORDPRESS_DB_NAME: ${WORDPRESS_DB_NAME}
       WORDPRESS_DB_USER: ${WORDPRESS_DB_USER}       
       WORDPRESS_DB_PASSWORD: ${WORDPRESS_DB_PASSWORD}         
       WORDPRESS_DB_HOST: db:3306
volumes:
    db_data:
    wp_data: